<div class="fixed top-0 z-50 right-0 left-0 bg-[#20985e] text-gray-300">
    <div class="h-16 flex items-center justify-between px-4">

        <div class="flex items-center">
      <!-- Logo Section -->
      <div class="mr-5" >
        <img class="w-8" src="https://www.kindpng.com/picc/m/193-1936884_ecommerce-websites-ecommerce-icon-hd-png-download.png" alt="logo">
      </div>
  
      <!-- Navigation Links -->
      <div>
        <div class="flex space-x-4 items-center">
          <a class="text-gray-800 font-semibold text-lg">Swift Cart</a>
          <div>
            <!-- Fixed Angular Material Button -->
            <button class="open-button text-gray-300" (click)="openNavbarContent('men')" mat-button >Men</button>
          </div>
          <div>
            <button class="open-button text-gray-300" (click)="openNavbarContent('women')" mat-button >Women</button>
          </div>
        </div>      

        </div>

      </div>
      <div class="flex items-center">
        <button (click)="navigateTo('cart')" 
        mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
    </button>

    <button *ngIf="false" mat-raised-button color="accent">Login</button>

    <div *ngIf="true" class="relative ml-3 flex items-center">
        <div class="flex items-center space-x-5">
            <span class="font-bold text-lg">Rimmi</span>
           <button mat-button [matMenuTriggerFor]="profileMenu">

                <img class="h-5 w-5" src="https://cdn.pixabay.com/photo/2014/03/24/17/19/teacher-295387_1280.png" alt="avatar icon">
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item>Orders</button>
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>Logout</button>

            </mat-menu>

        </div>
    </div>

    </div>
    </div>
    <div *ngIf="isNavbarContentOpen" class="modal-container">
      <app-nav-content [selectedSection]="currentSection"/>
      </div>
  </div>
  
  