<div class="mt-6">
    <div>
        <app-main-carousel></app-main-carousel>
    </div>
    <div>
        <app-product-slider [title]="'Men\'s Jeans'"[products]="menJeans"></app-product-slider>
        <app-product-slider [title]="'Women\'s Gowns'"[products]="womenGouns"></app-product-slider>
        <app-product-slider [title]="'Women\'s Lehenga Choli'"[products]="lehengaCholi"></app-product-slider>
        <app-product-slider [title]="'Men\'s Kurta'"[products]="menskurta"></app-product-slider>
        <app-product-slider [title]="'Shoes'"[products]="mensShoes"></app-product-slider>
    </div>
</div>

